extends basePage.pug

block content
    div.row
        div#picture.col-sm-6
            img.picture(src=picSrc)
        div#personalInfo.col-sm-6
            p.nameText=name
            p.infoText Age: #{age}
            p.infoText Location: #{zip}
            p.infoText Business: #{business}
            if canInteract
                button#messageBtn.interactBtn.btn.btn-primary(data-toggle='collapse', data-target="#messageField") Message
                button#followBtn.interactBtn.btn.btn-primary Follow

    br
    div#messageField.collapse
        div.form-group
            label(for='messageTextarea') Message:
            textarea.form-control(id="messageTextarea", name="message", rows="5")
            button#sendMessage.btn.btn-primary.centered Send Message
    div.contentItem.row
        div.placeHolder100
    br
    div.ad.row
        div.placeHolder100
    br
    div.contentItem.row
        div.placeHolder100
    br
    div.contentItem.row
        div.placeHolder150
    br
    div.ad.row
        div.placeHolder100

    script.
        require(['setupInteraction'], function(setupInteraction){
            if(!{canInteract}){
                setupInteraction("!{name}");
            }
        })
